body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.BigContainer{
  border: 2px solid black;
  width: 800px;
  height: 600px;
  margin: auto
}
.tablecontainer{
  border: 2px solid red;
  background-color: rgba(0, 100, 0,.7);
  width: 97%;
  height: 90%;
  margin: auto;
}
.ButtonContainer{
  border: 2px solid green;
  width: 97%;
  height: 8.5%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.ButtonContainer Button{
  border-radius: 10px 10px 10px 10px;
  width: 80px;
  box-shadow: 0 1px 2px rgba(209, 142, 142, 0.822);
  transition: box-shadow 0.3s ease-in-out;

}
.ButtonContainer Button:hover{
  box-shadow: 0 5px 15px rgba(77, 180, 77, 0.658);
}
.ButtonContainer Button:hover::after {
  opacity: 1;
}
.dealer{
  display: flex;
  justify-content: center;
  height: 40%;
  width: 50%;
  max-width: 100%;
  margin:auto
}
.Playerhands{
  /* display: flex;
  justify-content: center;
  height: 50%;
  width: 50%;
  max-width: 100%;
  margin:auto;
  padding-left: 10px */
  
}
.handtot{
  display: flex;
  text-align: center;
  color:rgb(128, 0, 0);
  font-weight: 900;
  font-size: x-large;
  text-shadow: rgba(47, 79, 79, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin-top: -30px;
}
.targethand{
  display: flex;
  text-align: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  max-width: 100%;
  margin:auto

}
#cards{
  border-radius: 10px 10px 10px 10px;
  margin-right: -60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: 2px solid black;
  width:100px;
  height:140px;
}
.Score{
  border:2px solid black;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 20px;
}